{% extends 'base.html.twig' %}

{% block title %}Derniers Articles
{% endblock %}

{% block body %}
	<ul>
		{% for article in articles %}
			<li>
				<a href="{{ path('/', { 'id': article.id }) }}">{{ article.title }}</a>
				<small>Publié le
					{{ article.createdAt|date('Y-m-d') }}
					par
					{{ article.author }}</small>
				{% if article.isPremium %}
					<span style="color: gold;">[Premium]</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

	<div>
		<h2>Inscrivez-vous à notre newsletter</h2>
		<form>
			<input type="email" placeholder="Votre email" required>
			<button type="submit">S'inscrire</button>
		</form>
	</div>

	<div>
		<a href="{{ path('article_list') }}">Voir tous les articles</a>
	</div>

	<div>
		<a href="#">Devenir membre premium</a>
	</div>

{% endblock %}
